<?php

namespace App;

use Cms\App\CmsSkinsetConfig;
use CmsAdmin\App\CmsNavigationConfig;
use Mmi\Mvc\RouterConfig;
use Mmi\Navigation\NavigationConfig;

use function DI\create;

return [
    //config
    CmsSkinsetConfig::class => create(AppSkinsetConfig::class),
    NavigationConfig::class => create(CmsNavigationConfig::class),
    RouterConfig::class     => create(AppRouterConfig::class),
];