<?php

namespace App;

use Cms\App\CmsAppEventInterceptor;
use Cms\App\CmsSkinsetConfig;
use Cms\Model\Auth;
use CmsAdmin\App\CmsNavigationConfig;
use Mmi\App\AppEventInterceptorAbstract;
use Mmi\Mvc\RouterConfigAbstract;
use Mmi\Navigation\NavigationConfigAbstract;
use Mmi\Security\AuthInterface;

use function DI\autowire;
use function DI\create;

return [
    RouterConfigAbstract::class => create(AppRouterConfig::class),
    AuthInterface::class => create(Auth::class),
    NavigationConfigAbstract::class => create(CmsNavigationConfig::class),
    AppEventInterceptorAbstract::class => autowire(CmsAppEventInterceptor::class),
    CmsSkinsetConfig::class => create(AppSkinsetConfig::class),
];