<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/phpunit-bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <html outputDirectory="./var/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="MmiCMS Test Suite">
      <directory>./tests/Unit</directory>
      <directory>./tests/Integration</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <ini name="date.timezone" value="UTC"/>
  </php>
</phpunit>
