.upload-add-label {
  flex: 0 0 200px;
  margin: 0;
  margin-right: 1rem;
  display: block;
  border: 1px dashed #0a6aa1;
  color: #0a6aa1;
  height: 200px;
  text-align: center;
  padding: 2rem 1rem;
  position: relative;
  background-color: #f1f5f8;
  border-radius: 1rem;
}

.upload-add-label .icon {
  width: 50%;
  opacity: 0.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}

.upload-add-label:hover .icon {
  opacity: 1;
}

.upload-add {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.form-control.multiupload {
  display: flex;
  justify-content: space-between;
}

.form-control.multiupload > .field-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1 0;
}

.form-control.multiupload > .field-list > .field-list-item > section > .form-group.cmsformelementtextarea,
.form-control.multiupload > .field-list > .field-list-item > section > .form-group.widgetbaseformelementdescription,
.form-control.multiupload > .field-list > .field-list-item {
  flex: 0 0 100%;
}

.form-control.multiupload > .field-list > .field-list-item > section > .form-group:nth-child(2) {
  flex: 0 0 60px;
}

.form-control.multiupload > .field-list > .field-list-item > section > .form-group:nth-child(n + 2) {
  flex: 1 0;
}

.form-control.multiupload > .field-list > .field-list-item .thumb {
  position: relative;
  margin-right: 1rem;
}

.form-control.multiupload > .field-list > .field-list-item .thumb .thumb-big {
  display:none;
}

.thumb-zoom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
}
