.upload-add-label {
  flex: 0 0 200px;
  width: 200px;
  height: 200px;
  margin: 0 1rem 0 0;
  display: block;
  border: 1px dashed #c2cfd6;
  color: #0a6aa1;
  text-align: center;
  padding: 2rem 1rem;
  position: relative;
  background-color: #f1f5f8;
}

.upload-add-label .icon {
  width: 50%;
  opacity: 0.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}

.multiupload-fixed .upload-add-label {
  position: fixed;
  top: 80px;
}

.multiupload-fixed-bottom .upload-add-label {
  position: absolute;
  top: auto;
  bottom: 3rem;
}

.multiupload-fixed .field-list {
  margin-left: calc(200px + 1rem);
}

.upload-add-label .icon.pulse {
  transform: scale(1.2);
  color: #0aa135;
}

.upload-add-label:hover .icon {
  opacity: 1;
}

.upload-add {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.form-control.multiupload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-control.multiupload > .field-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 1 0;
}

.form-control.multiupload > .field-list > .field-list-item > section > .form-group {
  flex: 0 0 100%;
}

.form-control.multiupload > .field-list > .field-list-item > section > .form-group:nth-child(2) {
  flex: 0 0 60px;
}

.form-control.multiupload > .field-list > .field-list-item .thumb {
  margin-left: 1rem;
  width: 68px;
}

.form-control.multiupload > .field-list > .field-list-item .thumb img {
  width: auto;
  max-height: 68px;
  position:absolute;
  transition: transform 0.5s ease;
  pointer-events: none;
  z-index: 1;
}

.form-control.multiupload > .field-list > .field-list-item .thumb img.file-icon {
  padding: 9px 15px;
}

.form-control.multiupload > .field-list > .field-list-item .thumb:hover img.file-icon {
  transform: scale(1);
}

.form-control.multiupload > .field-list > .field-list-item .thumb:hover img {
  transform: scale(3);
  z-index: 2;
}

.multiupload-progress-bar {
  display: block;
  border: 1px solid #ccc;
  width: 90%;
  height: 0.5rem;
  position: absolute;
  flex-basis: 100%;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.multiupload-progress-bar.active {
  opacity: 1;
}

.multiupload-progress-bar .progress {
  display: block;
  position: absolute;
  background-color: #0a6aa1;
  width: 0;
  height: 100%;
  transition: all 0.1s linear;
}
