.form-control.multifield {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  position: relative;
}

.form-control.multifield > .field-list > .field-list-item {
  background-color: #fff;
  transition: max-height 0.8s;
  transition-timing-function: ease-in-out;
  max-height: 6.4rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.form-control.multifield > .field-list > .field-list-item:not(.is-active) {
  opacity: 0.5;
}

.form-control.multifield > .field-list > .field-list-item > a {
  flex: 0 0 1rem;
}

.form-control.multifield > .field-list > .field-list-item > section {
  flex: 1 0;
  margin: 0 1rem;
}

.form-control.multifield > .field-list > .field-list-item.active {
  max-height: 2000px;
}

.form-control.multifield > .field-list > .field-list-item > section {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.form-control.multifield > .field-list > .field-list-item > section > .form-group {
  flex: 0 1 calc(50% - 0.75rem);
}

.form-control.multifield > .field-list > .field-list-item > section > .form-group:first-child {
  display: none;
}

.form-control.has-nested-multifield > .field-list > .field-list-item > section > .form-group:last-child,
.form-control.multifield > .field-list > .field-list-item > section > .form-group:nth-child(2),
.form-control.multifield > .field-list > .field-list-item > section > .form-group.cmsformelementtextarea,
.form-control.multifield > .field-list > .field-list-item > section > .form-group.cmsformelementtinymce {
  flex: 1 0 100%;
}

.multifield > .btn-toggle {
  display: block;
  margin-bottom: 1rem;
  text-align: right;
}

.multifield > .btn-toggle .fa {
  vertical-align: sub;
}

.form-control.multifield > .field-list > .field-list-item > .icons a {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}

.form-control.multifield > .field-list > .field-list-item > .icons > a.sortable-handler {
  cursor: move;
}
