.select2-container--default {
  display: block;
  width: 100%;
  box-sizing: inherit;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #c2cfd6;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  font-size: 0.875rem;
  color: #3e515b;
  height: 2.09375rem;
  box-sizing: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: inherit;
  padding: 0;
}

.select2-dropdown {
  border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #20a8d8;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 2.09375rem;
}
