div.select-color div.color {
    border: 5px solid #eee;
    margin-right: 5px;
    display: inline-block;
    line-height: 100%;
    font-weight: bold;
    cursor: pointer;
}

div.select-color div.color div.color-label {
    padding: 12px 15px;
}

div.select-color div.color.selected {
    border-color: #000;
}