/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
	font-family: "Arimo", arial, verdana, sans-serif;
	font-weight:normal;
}

thead th,
tbody th{
	font-family: "Arimo", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
	font-family: "Arimo", arial, verdana, sans-serif;
}

.menu{
	font-family: "Arimo", arial, verdana, sans-serif;
}

blockquote{
	font-family: "Arimo", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
	margin:0;
	padding:0 0 0 0;
	color:#000;
	background:#efefef url(img/gray_jean.png);
	font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
	text-shadow: 0 0 1px transparent; /* google font pixelation fix */
}

ul#messenger {
	padding: 0;
	margin: 1.5em 0;
	list-style-type: none;
}

#wrap{
	width:100%;
	background:#fff;
	margin:30px auto 30px auto;
	padding:0 2%;
	border:1px solid #ccc;
}


#footer{
	text-align:center;
	padding:20px;
	margin:0;
	border-top:1px solid #ddd;
	color:#999;
	font-size:0.8em;
	text-shadow:0px 1px 1px #fff;
	position: relative;
	top:0;
	left:0;
	background:#fff;
}

#link-top{
	display:none;
}

/* NAV BAR*/
.navbar{
	background:#000;
	color:#fff;
}

.navbar span{
	color:#86dc00;
}


.navbar ul{
	width: 100%;
	display:inline-block;
	margin:0;
	padding:0;
}

.navbar li{
	margin:0;
	padding:0;
	list-style-type:0;
	display:inline-block;
	color: #efefef;
	text-transform: uppercase;
	font-size: 1.2em;
}

.navbar li a{
	display:inline-block;
	color:#efefef;
	padding:1em 1.3em;
	text-decoration:none;
	text-transform: uppercase;
	line-height:100%;
}

.breadcrumbs a {
	color: #fff;
}
.breadcrumbs {
	overflow: hidden;
	margin: 0;
	padding: 1.2em;
	display: block;
	background: #4598ef url(img/gplaypattern.png) repeat;
	color: #fff;
}

.languages {
	float: right;
}

.languages a {
	margin-left: 5px;
	opacity: 0.3;
}

.languages img, img.language {
	vertical-align: middle;
	border-radius: 2px;
	border: 1px solid #666;
}

.languages a:hover {
	opacity: 0.75;
}

.languages a.active {
	opacity: 1;
}

#ui-preview{
	border:5px solid #ddd;
	margin:30px 0;
	display:block;
}

nav#main-menu {
	margin-bottom: 1.5em;
}

nav#main-menu ul.menu {
	margin-bottom: 1.5em;
	z-index: 601;
}

table tr th input {
	width: 100%;
}

table.grid.striped tbody th {
	text-align: left;
}

div.grid {
	max-width: 1680px;
}

div.grid nav.local {
	float: right;
	margin-bottom: 10px;
}

table.grid {
	max-width: 100%;
}

table.grid tr th {
	vertical-align: bottom;
}

table.grid tr td, th {
	max-width: 300px;
	word-wrap: break-word;
}

table.grid tr th.paginator {
	font-weight: normal;
	padding: 10px 10px 20px 10px;
}

table.grid tr th.paginator div.field {
	display: inline-block;
	position: relative;
	top: 8px;
}

div.errors ul {
	list-style: none;
	margin: -10px 0 0 0;
	overflow: hidden;
}

div.errors ul li.first, div.errors li.last {
	display: none;
}

form div.field {
	margin-bottom: 20px;
}

form div.field input, form div.field select, form div.field div.errors {
	max-width: 360px;
}

form div.field.submit input {
	max-width: 200px;
}

form div.field.checkbox {
	margin: 20px 0;
}

form div.field.checkbox label, form div.field.multicheckbox label, form div.field.radio label {
	display: inline-block;
}

form div.field.checkbox input, form div.field.multicheckbox input {
	margin-right: 5px;
}

div.field.multicheckbox ul, div.field.radio ul {
	list-style-type: none;
	margin: 0;
}

div.field.multicheckbox ul li, div.field.radio ul li {
	margin: 0;
}

div.field div.description {
	opacity: 0.5;
	font-style: italic;
}

ul.list {
	list-style-type: none;
	margin: 0; 
	padding: 0;
}

ul.list li {
	background: #eee;
	border: 1px dotted #ccc;
	margin: 10px 0;
}

ul.list li div {
	padding: 10px;
	width: 400px;
	display: inline-block;
}

ul.list li div.width-600 {
	width: 600px;
}

.content-box-content {
	border: 1px solid #e5e5e5;
	background: #fff;
	clear: both;
	padding: 20px;
	margin: 0 0 40px 0;
}

.mce-btn button:focus, .mce-btn button:hover {
	border: none;
	background: rgb(252,252,252);
}

label.mce-wordcount {
	left: auto;
}

.icon-2x {
	width: 2em;
}

.icon-3x {
	width: 3em;
}

.icon-4x {
	width: 4em;
}

/*---------------------------------
	General Classes
-----------------------------------*/
.clear {
	clear: both;
	float: none!important;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.ajax-loader {
	background: url("img/bx_loader.gif") no-repeat scroll center center transparent;
	width: 100%;
}

/*---------------------------------
	MULTI-DIRECTION-SORT
-----------------------------------*/
div.mdlist-button-container {
	height: 50px;
	float:left;
	margin-right: 10px;
}

ul.mdlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.mdlist li {
	font-weight: bold;
	padding: 0 !important;
	border: 1px #ddd dotted;
	margin: 0 0.5% 10px 0;
	background: #fff!important;
	float: left;
	height: 80px;
	overflow: hidden;
}

ul.mdlist table.form-container {
	position: relative;
	padding: 9px;
	border-collapse: separate;
	border: 1px solid transparent;
}

ul.mdlist li.open {
	overflow: visible;
}

ul.mdlist a.button {
	margin-bottom: 2px;
	padding: 3px 10px;
}

ul.mdlist table {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}

ul.mdlist td:first-child {
	width: 80%;
	vertical-align: top;
}

ul.mdlist td:last-child {
	width: 20%;
	text-align: right;
}

ul.mdlist div {
	line-height: 160%;
	width: 100%;
	position: relative;
	padding: 0!important;
}

ul.mdlist div form div {
	float: left;
	line-height: 100%;
	padding: 0;
	width: 100px;
	position: relative;
	margin-bottom: 0;
}

ul.mdlist div form div input.field {
	width: 95px;
	margin-top: 6px;
	margin-bottom: 0px;
}

ul.mdlist div form div input[type='submit'] {
	padding: 4px 15px;
}

ul.mdlist div form div label {
	position: absolute;
	font-weight: normal;
	font-size: 11px;
	top: 0;
	left: 6px;
}

ul.mdlist div form div .errors {
	position: absolute;
}

ul.mdlist div.close {
	background: url('img/fancybox/fancy_close.png');
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	padding: 0!important;
}

ul.mdlist div.ok {
	background: url('img/fancybox/fancy_accept.png');
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	padding: 0!important;
}

ul.mdlist div.add {
	background: url('img/fancybox/fancy_add.png');
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	padding: 0!important;
	float: left;
	margin: 25px 0 35px 10px;
}

ul.mdlist div img {
	float: left;
}

ul.mdlist .template {
	display: none;
}

ul.mdlist .field.checkbox {
	margin: 10px 0 0 0;
}

ul.mdlist .field.checkbox input {
	width: 18px;
	margin: 4px 2px 0 0;
}

ul.mdlist .field.checkbox label {
	position: initial;
	float: left;
	margin-top: 5px

}

ul.mdlist .hide-active {
	color: #bbbbbb;
}

.grid-spot {
	max-width: 200px;
}