// Here you can add other styles
.nowa-era-logo {
  background-image: url('../images/logo.png') !important;
  background-size: 50px auto !important;
}

.app-footer {
  line-height: 49px !important;
}

.ne-error-list {
  ul {
    padding: 0;
    list-style-type: none;
    color: red;
    li {
      i {
        margin-right: 5px;
      }
    }
  }
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
}

.control-radio .control_indicator {
  border-radius: 0;
}

.control {
  span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    color: #151b1e;
  }
  &:hover input ~ .control_indicator {
    background: #cccccc;
  }
  input {
    &:focus ~ .control_indicator {
      background: #cccccc;
    }
    &:checked ~ .control_indicator {
      background: #2aa1c0;
    }
  }
  &:hover input:not([disabled]):checked ~ .control_indicator {
    background-: #0e6647;
  }
  input {
    &:checked:focus ~ .control_indicator {
      background: #0e6647;
    }
    &:disabled ~ .control_indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox {
  .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
  }
}

.main .card-body .btn:hover a {
  color: white;
}

.card-body {
  .tab-content {
    .row {
      display: block;
      .btn { 
        margin-left: 15px;
      }
    }
    .ui-sortable {
      display: block;
      max-width: calc(100% - 30px);
      .col-md-3 {
        flex: 1;
        max-width: 100%;
        margin: 15px 30px;
      }
    }
  }
}

#rules {
  margin-top: 30px;
}

.clear {
  clear: both;
}

.chart {
  height: 150px;
  width: 100%;
}

h1.charts {
  padding: 0px;
  margin-bottom: 10px;
}

h2.charts {
  padding: 0px;
  margin-bottom: 10px;
  font-size: 16px;
}

h4 {
  padding: 10px 0px 0px 0px !important;
  margin: 0px !important;
}

#monthlyChart {
  width: 60%;
  float: left;
}

#yearlyChart {
  width: 40%;
  float: left;
}

#avgHourlyChart {
  width: 50%;
  float: left;
}

#avgHourlyAllChart {
  width: 50%;
  float: left;
}

div.legend table {
  width: auto;
}

div.legend table td {
  padding: 0 2px;
}

.tab-aclForm {
  padding: 10px;
  .btn {
    margin: 10px;
  }
}

@include media-breakpoint-up(sm) {
  .card-body {
    overflow: auto;
  }
}

@include media-breakpoint-up(xs) {
  .card-body {
    overflow: auto;
  }
}

div {
  &#categoryTreeContainer {
    float: left;
    width: 320px;
    min-height: 320px;
    overflow: auto;
  }
  &#categoryNodeContainer {
    float: left;
    margin-left: 20px;
    width: calc(100% - 340px);
  }
}

div {
  &#categoryMessageContainer ul#messenger {
    margin-top: 0;
    .notice {
      margin-top: 0;
    }
  }
  &.field.hidden {
    margin: 0;
  }
}

.jstree-default-small .jstree-inactive.jstree-themeicon-custom {
  background-color: transparent;
  background-image: url("../js/jstree/themes/default/32px.png");
  background-position: -263px -7px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
  -webkit-filter: grayscale(100%);
  opacity: 0.7;
}

.tab-pane iframe {
  width: 100%;
  height: 480px;
  border: none;
}

ul.chosen-choices {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  width: auto;
  zoom: 1;
  margin: 0 0 10px 0 !important;
  border: 1px solid #ccc !important;
  font-size: 1em;
  padding: 5px 0;
  text-indent: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff !important;
  -moz-box-shadow: inset 0 0 6px #ccc;
  -webkit-box-shadow: inset 0 1px 6px #ccc;
  box-shadow: inset 0 1px 6px #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chosen-container.chosen-with-drop .chosen-drop {
  margin-top: -10px;
}

.chosen-container {
  width: 80% !important;
}

#categoryTreeContainer {
  width: 100% !important;
}

#preview-frame {
  width: 100% !important;
}

.reddish {
  color: red !important;
}

ul {
  &.wlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      background: #fff;
      border: 2px dashed #ccc;
      border-radius: 5px;
      margin: 10px 0;
      padding: 10px;
      overflow: hidden;
      clear: both;
      ul {
        list-style-type: square;
        li {
          background: none;
          overflow: initial;
          border: none;
          margin: 0;
          padding: 0;
        }
      }
      div {
        &.preview {
          float: left;
          width: calc(100% - 60px);
          word-wrap: break-word;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        &.operation {
          float: right;
          a {
            height: 24px;
            width: 24px;
            display: inherit;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.fa-2 {
  font-size: 1.7em !important;
}

.fa-3 {
  font-size: 3em !important;
}

.fa-4 {
  font-size: 4em !important;
}

.fa-5 {
  font-size: 5em !important;
}

.mr-fix-3 {
  margin-right: 3px !important;
}

.mr-fix-6 {
  margin-right: 6px !important;
}

.nav-dropdown-items {
  border-left: 1px solid #167495 !important;
  .nav-item {
    .nav-link {
      padding-left: 13px !important;
    }
    .nav-dropdown-items {
      border-left: 2px solid #1abae2 !important;
      .nav-item {
        .nav-link {
          padding-left: 23px !important;
        }
      }
    }
  }
}

#cmsadmin-form-auth-cmsRoles-list {
  padding: 0;
  list-style-type: none;
}

.multi-checkbox {
  ul {
    @extend #cmsadmin-form-auth-cmsRoles-list;
  }
}

.messenger {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  top: 0;
  vertical-align: baseline;
  width: 100%;
  transition: width 1s ease-out;
  height: 48px;
  text-align: center;
  font-size: 18px;
  list-style: none;
  z-index: 99999;
  &.animation-show{
    animation: messangerShow 1s;
  }
}
@keyframes messangerHide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes messangerShow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.form-control {
  &.error {
    @extend .is-invalid
  }
}

@include media-breakpoint-up(sm) {
  .card-body {
    overflow: hidden
  }
}

.operation-container {
  width: 100px;
  text-align: center;
  .operation-button {
    display: inline-block;
    margin-right: 10px;
  }
}

.header-url {
  font-size: 1.3rem;
  color: #29363D;
}

.plupload_button {
  color: #1CA1D4 !important;
}

.plupload_file_action {
  top: 0 !important;
}

.plupload_file_size {
  top: 2px !important;
}

.select {
  height: 38px !important;
}

.cms-widget {
  position: relative;
  .widget-panel {
    .widget-btn {
      cursor: pointer;
      margin-top: 20px;
      img{
        &.img-btn{
          height: 30px;
          width: auto !important;
        }
      }
    }
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 24px;
    left: 20px;
    .fa {
      font-size: 2.7rem !important;
      i {
        color: #20a8d8;
      }
    }
  }
}

ul{
  &.cd-buttons{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    li{
      margin: 0;
      padding: 0;
      border: 0;
      vertical-align: baseline;
    }
  }
}

.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  &.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  p {
    padding: 3em 1em;
  }
  .cd-buttons {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    li {
      float: left;
      width: 50%;
      list-style: none;
    }
    a {
      display: block;
      height: 60px;
      line-height: 60px;
      text-transform: uppercase;
      color: #FFF;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
    }
    li:first-child a {
      background: #fc7169;
      border-radius: 0 0 0 .25em;
    }
  }
}

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
  }
  &::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
  }
  &::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
  }
}

.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}

.form-group{
  textarea{
    overflow: hidden;
  };
}

ul.tabs-legacy {
  margin: 10px 0 -1px 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  font-size: 0;
  &.left {
    text-align: left;
  }
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
    li {
      margin: 0 0 0 -2px;
    }
  }
  li {
    font-size: 14px;
    list-style-type: none;
    margin: 0 -2px 0 0;
    padding: 0;
    display: inline-block;
    *display: inline;
    /*IE ONLY*/
    position: relative;
    top: 0;
    left: 0;
    *top: 1px;
    /*IE 7 ONLY*/
    zoom: 1;
    a {
      text-decoration: none;
      color: #666;
      display: inline-block;
      padding: 9px 15px;
      position: relative;
      top: 0;
      left: 0;
      line-height: 100%;
      background: #f5f5f5;
      -webkit-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.03);
      -moz-box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.03);
      box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.03);
      border: 1px solid #e5e5e5;
      border-bottom: 0;
      font-size: 0.9em;
      zoom: 1;
      &:hover {
        background: #fff;
      }
    }
    &.current a {
      position: relative;
      top: 1px;
      left: 0;
      background: #fff;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: #222;
    }
  }
}
.tab-content-legacy{
  border:1px solid #e5e5e5;
  background:#fff;
  clear:both;
  padding:20px;
  margin:0 0 0 0;
}

.mce-fullscreen {
  z-index: 2000 !important;
}

.login-screen-bg{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
