
// Here you can add other styles
.nowa-era-logo{
  background-image: url('../images/logo.png') !important;
  background-size: 50px auto !important;
}
.app-footer{
  line-height: 49px !important;
}

.ne-error-list{ ul {
  list-style-type: none;
  color: red;
} }

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
}

.control-radio .control_indicator {
  border-radius: 0;
}

.control {
  &:hover input ~ .control_indicator {
    background: #cccccc;
  }
  input {
    &:focus ~ .control_indicator {
      background: #cccccc;
    }
    &:checked ~ .control_indicator {
      background: #2aa1c0;
    }
  }
  &:hover input:not([disabled]):checked ~ .control_indicator {
    background-: #0e6647;
  }
  input {
    &:checked:focus ~ .control_indicator {
      background: #0e6647;
    }
    &:disabled ~ .control_indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox {
  .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
  }
}

.main .card-body .btn:hover a {
  color: white;
}

#rules {
  margin-top: 30px;
}

.clear {
  clear: both;
}
.chart {
  height: 150px;
  width: 100%;
}

h1.charts {
  padding: 0px;
  margin-bottom: 10px;
}

h2.charts {
  padding: 0px;
  margin-bottom: 10px;
  font-size: 16px;
}

h4 {
  padding: 10px 0px 0px 0px!important;
  margin: 0px!important;
}

#monthlyChart {
  width: 60%;
  float: left;
}

#yearlyChart {
  width: 40%;
  float: left;
}

#avgHourlyChart {
  width: 50%;
  float: left;
}

#avgHourlyAllChart {
  width: 50%;
  float: left;
}

div.legend table {
  width: auto;
}

div.legend table td {
  padding: 0 2px;
}

.tab-aclForm {
  padding: 10px;
  .btn {
    margin: 10px;
  }
}

@include media-breakpoint-up(sm) {
  .card-body {
    overflow: auto;
  }
}

@include media-breakpoint-up(xs) {
  .card-body {
    overflow: auto;
  }
}

div {
  &#categoryTreeContainer {
    float: left;
    width: 320px;
    min-height: 320px;
    overflow: auto;
  }
  &#categoryNodeContainer {
    float: left;
    margin-left: 20px;
    width: calc(100% - 340px);
  }
}

ul#messenger {
  display: none;
}

div {
  &#categoryMessageContainer ul#messenger {
    margin-top: 0;
    .notice {
      margin-top: 0;
    }
  }
  &.field.hidden {
    margin: 0;
  }
}

.jstree-default-small .jstree-inactive.jstree-themeicon-custom {
  background-color: transparent;
  background-image: url("../js/jstree/themes/default/32px.png");
  background-position: -263px -7px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'jstree-grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#jstree-grayscale");
  -webkit-filter: grayscale(100%);
  opacity: 0.7;
}

.tab-pane iframe {
  width: 100%;
  height: 480px;
  border: none;
}
