<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="data/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="CMS Test Suite">
            <directory>Cms</directory>
            <directory>CmsAdmin</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/Cms/</directory>
            <directory suffix=".php">../src/CmsAdmin/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="../var/coverage" lowUpperBound="35" highLowerBound="70"/>
    </logging>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
