.frame-extractor{
  #userPoster{
    visibility: hidden;
  }
  video{
    height: 250px;
    width: auto;
  }
  .frame-camera{
    position: absolute;
    top: 20px;
    height: 54px;
    width: 54px;
    right: 50px;
    border-radius: 110px;
  }
  .frame-upload{
   @extend .frame-camera;
    top: 90px;
  }
  .row{
    &.video-container{
      position: relative;
    }
    .col{
      #output{
        max-height: 250px;
        overflow: auto;
        text-align: center;
        img{
          cursor:pointer;
          width:31%;
          margin:2px;
          height: auto;
          &.active{
            border: 2px solid #3dbb5d;
          }
        }
      }
    }
  }
}