.cms-widget {
    position: relative; }
.cms-widget .widget-panel {
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 24px;
    left: 20px; }
.cms-widget .widget-panel .widget-btn {
    cursor: pointer;
    margin-top: 20px; }
.cms-widget .widget-panel .widget-btn img.img-btn {
    height: 48px;
    width: auto !important; }
.cms-widget .widget-panel .fa {
    font-size: 2.7rem !important; }
.cms-widget .widget-panel .fa i {
    color: #20a8d8; }