#lionite-gallery{
  li{
    border: 1px solid #20a8d8;
    &:hover{
      border: 2px solid #20a8d8 !important;
    }
  }
}

  .ui-dialog{
    .ui-dialog-titlebar{
      border-radius: 0;
      padding: 12px;
      .ui-button{
        position: absolute;
        right: 5px;
        top: 7px;
        padding: 4px;
      }
    }
    .ui-dialog-content{
      p{
        margin-top: 15px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
      fieldset{
        padding: 10px;
      }
    }
    .ui-dialog-buttonpane{
      border-radius: 0;
      padding: 8px;
      text-align: center;
      .ui-button{
        padding: 5px;
        cursor: pointer;
        min-width: 80px;
        margin-right: 10px;
      }
    }
  }
