div.plupload-log-container pre.plupload-log-console {
    height: 150px;
    overflow: auto;
    border-radius: 0px;
}

div.plupload_header_content div.plupload_view_switch label {
    float: left;
}

div.plupload_view_list div.plupload_content div.plupload_file_size,
div.plupload_view_list div.plupload_content div.plupload_file_status,
div.plupload_view_list div.plupload_content div.plupload_file_action {
    top: 5px;
}

div.plupload_header div.plupload_logo, div.plupload_header div.plupload_header_title {
    cursor: pointer;
}

div.plupload-confirm-container, div.plupload-edit-container {
    display: none;
}

div.plupload-confirm-container span.dialog-file, div.plupload-edit-container span.dialog-file {
    font-weight: bold;
}

div.ui-dialog button.ui-button {
    left: auto;
}

div.plupload_file_name span span.ui-icon {
    float: right;
}

div.plupload_view_thumbs li.plupload_file {
    position: relative;
}

div.plupload_view_thumbs div.plupload_file_name span span.ui-icon {
    position: absolute;
    right: 1px;
    bottom: 1px;
}

div.plupload-edit-container label, div.plupload-edit-container input {
    display: block;
}

div.plupload-edit-container div.plupload-edit-buttons {
    margin-top: 15px;
}

div.plupload-edit-container div.plupload-edit-buttons label, div.plupload-edit-container div.plupload-edit-buttons input {
    float: left;
}

div.plupload-edit-container div.plupload-edit-buttons input[type="radio"], div.plupload-edit-container div.plupload-edit-buttons input[type="checkbox"] {
	margin: 4px 4px 0 25px;
}

div.plupload-edit-container div.plupload-edit-buttons input[type="radio"]:first-child, div.plupload-edit-container div.plupload-edit-buttons input[type="checkbox"]:first-child {
	margin-left: 0;
}

div.plupload-edit-container input.text, div.plupload-edit-container textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: .3em;
}

div.plupload-edit-container .dialog-error {
    display: none;
}

div.plupload-edit-container .dialog-error span.ui-icon {
    float: right;
    margin-top: 3px;
}

div.plupload-edit-container .dialog-error p {
    float: right;
    font-size: 12px;
    margin: 0 5px;
}

.ui-front {
    z-index: 1000 !important;
}

.ui-dialog {
    z-index: 1001 !important;
}

div.plupload_view_switch label span.ui-checkboxradio-icon {
    display: none;
}

div.plupload_view_switch label.ui-state-active {
    background: none;
    border-color: #c5c5c5;
}

div.plupload_view_switch label.ui-state-active:hover {
    background: #eee;
    border-color: #c5c5c5;
}
